@import "tailwindcss";

@theme {
  --color-primary: #13ec80;
  --color-background-light: #f6f8f7;
  --color-background-dark: #102219;
  --font-display: "Public Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background-light text-zinc-900 dark:bg-background-dark dark:text-white font-display;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #13ec8040;
  border-radius: 10px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
